<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Usuario</th>
			<th scope="col">Producto</th>
			<th scope="col">Calificación</th>
			<th scope="col">Comentario</th>
			<th scope="col">Fecha</th>
		</tr>
	</thead>
	<tbody>
		@for (review of reviews; track review) {
			<tr>
				<th scope="row">{{ review.id }}</th>
				<td>Usuario {{ review.userId }}</td>
				<td>Producto {{ review.productId }}</td>
				<td>
					<dsb-badge-atom
						[text]="review.rating + ' ⭐'"
						[type]="getRatingColor(review.rating)">
                    </dsb-badge-atom>
				</td>
				<td>{{ review.comment }}</td>
				<td>{{ review.date }}</td>
			</tr>
		}
	</tbody>
</table>
