<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Número Orden</th>
			<th scope="col">Cliente</th>
			<th scope="col">Precio Total</th>
			<th scope="col">Estado</th>
			<th scope="col">Items</th>
			<th scope="col">Fecha</th>
		</tr>
	</thead>
	<tbody>
		@for (order of orders; track order) {
			<tr>
				<th scope="row">{{ order.id }}</th>
				<td>{{ order.orderNumber }}</td>
				<td>{{ order.customerName }}</td>
				<td>{{ order.totalPrice | currency }}</td>
				<td>
					<dsb-badge-atom
						[text]="order.status"
						[type]="statusMap[order.status]">
                    </dsb-badge-atom>
				</td>
				<td>{{ order.itemsCount }}</td>
				<td>{{ order.createdDate | date:'short' }}</td>
			</tr>
		}
	</tbody>
</table>
